<!DOCTYPE html>
<html>
<head>
  <title>MyRedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
<form action='<%= session_url %>' method="POST">
  <input type='hidden' name='_method' value="DELETE">
  <%= auth_token %>

  <button>Log out</button>
</form>
<% end %>

<%= yield %>

</body>
</html>
